@{
    ViewBag.Title = "Personal Growth - Ron Boggs";
}
<div class="main-page-wrapper">
    <div class="page-title  page-title-default title-size-default title-design-centered color-scheme-light" style="text-align: center; padding: 52px 15px 0px 0px">
        <div class="container">
            <h1 class="entry-title title" style="font-size:68px">
                Business &#038; Career  Coaching
            </h1>
            <div class="breadcrumbs" style="text-align: center; padding-bottom:45px; margin-bottom:25px;">
                <a href="@Url.Action("Index","Home")" rel="v:url" property="v:title">Home</a> &raquo; <span class="current">Business &#038; Career  Coaching</span>
            </div>
            <!-- .breadcrumbs -->
        </div>
    </div>

    <!-- MAIN CONTENT AREA -->
    <div class="container">
        <div class="row content-layout-wrapper align-items-start">

            <div class="site-content col-lg-12 col-12 col-md-12" role="main">

                <article id="post-173" class="post-173 page type-page status-publish hentry">

                    <div class="entry-content">
                        <div class="wpb-content-wrapper">
                            <div class="vc_row wpb_row vc_row-fluid sec-3 pg pg-service pg-life wd-rs-66d8a8d1c9a14">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <h5>Transform Your Business</h5>
                                                    <h2>
                                                        Business &amp; Career<br />
                                                        Coaching Service
                                                    </h2>
                                                    <p>Our business and career coaching services are designed to help you excel as a leader and drive your business toward greater success. Whether you&#8217;re a business owner, executive, or manager, our coaching provides tailored strategies to enhance your leadership skills, streamline operations, and foster a culture of innovation. We focus on helping you take ownership of your professional development, make impactful decisions, and lead with confidence.</p>
                                                    <p>Our approach combines practical insights with personalized coaching to address your specific business or career challenges. From improving team dynamics to optimizing workflow, we work with you to develop actionable plans that deliver measurable results. Whether you&#8217;re seeking to grow your business, navigate a career transition, or refine your leadership approach, Radical Responsibility Coaching will help you take charge of your professional journey and achieve lasting success.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_right">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img fetchpriority="high" decoding="async" width="612" height="550" src="../wp-content/uploads/2024/09/Mask-group-7.png" class="vc_single_image-img attachment-full" alt="" title="Mask group (7)" srcset="/wp-content/uploads/2024/09/Mask-group-7.png 612w, /wp-content/uploads/2024/09/Mask-group-7-300x270.png 300w" sizes="(max-width: 612px) 100vw, 612px" /></div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row vc_row-fluid sec-8 pg-bottom wd-rs-671a7714dde28">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element text-center">
                                                <div class="wpb_wrapper">
                                                    <h5>Testimonial</h5>
                                                    <h2>What My Clients Are Saying</h2>

                                                </div>
                                            </div>
                                            <div id="wd-66cd39055120f" class="testimonials wd-rs-66cd39055120f testimon-style-info-top color-scheme-  testimon-with-rating testimonial wd-carousel-container">

                                                <div class="wd-carousel-inner">
                                                    <div class=" wd-carousel wd-grid" data-wrap="yes" data-autoheight="yes" data-scroll_per_page="yes" style="--wd-col-lg:3;--wd-col-md:3;--wd-col-sm:1;--wd-gap-lg:30px;--wd-gap-sm:10px;">
                                                        <div class="wd-carousel-wrap">


                                                            <div class="wd-testimon  wd-carousel-item">
                                                                <div class="testimon">
                                                                    <div class="wd-testimon-info">

                                                                        <div class="wd-testimon-thumb">
                                                                            <img decoding="async" width="48" height="48" src="../wp-content/uploads/2024/10/Mask-group-6.png" class="testimonial-avatar-image" alt="" />
                                                                        </div>

                                                                        <div class="wd-testimon-bio">
                                                                            <div class="wd-testimon-name title">
                                                                                Candy D
                                                                            </div>


                                                                            <div class="star-rating">
                                                                                <span style="width:100%"></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="wd-testimon-text reset-last-child">
                                                                        &#8220;Sometimes it is a real struggle to be able to see my purpose or direction in life. Ron reminds me that I need to stay focused on my goals. I am generally a positive person, but sometimes my mind will not play nice. With his help, I know I am strong enough to take control of those thoughts. Each conversation, I know I am not alone in this world, and that gives me the strength to keep moving. Ron provides a safe space, he is easy to talk to, and he listens to every word I say. He has provided me with the tools I need to keep moving forward and has offered suggestions and advice without judgement. Every day is unique but being able to feel the sun on my face, instead of the rain, puts a smile on my face.&#8221;
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wd-testimon  wd-carousel-item">
                                                                <div class="testimon">
                                                                    <div class="wd-testimon-info">

                                                                        <div class="wd-testimon-thumb">
                                                                            <img decoding="async" width="48" height="48" src="../wp-content/uploads/2024/10/Mask-group-8.png" class="testimonial-avatar-image" alt="" />
                                                                        </div>

                                                                        <div class="wd-testimon-bio">
                                                                            <div class="wd-testimon-name title">
                                                                                April J
                                                                            </div>


                                                                            <div class="star-rating">
                                                                                <span style="width:100%"></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="wd-testimon-text reset-last-child">
                                                                        &#8220;Ron has been coaching me for over a year now. Following a toxic relationship and tough divorce, he has helped me discover in myself how to understand, combat, and control my depression and anxiety without having to rely on medications. With his help and methods, I learned to accept my responsibility and take account for my actions as well as how to move forward and not dwell on a past I can’t control while focusing on a future that I can. Today, he is helping me navigate my way through college as I gain my identity back as well as my self-esteem and confidence. I honestly don&#8217;t know where I would be today without his help and guidance. Ron has been an amazing coach, friend, and confidant.&#8221;
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wd-testimon  wd-carousel-item">
                                                                <div class="testimon">
                                                                    <div class="wd-testimon-info">

                                                                        <div class="wd-testimon-thumb">
                                                                            <img loading="lazy" decoding="async" width="48" height="48" src="../wp-content/uploads/2024/10/Mask-group-7.png" class="testimonial-avatar-image" alt="" />
                                                                        </div>

                                                                        <div class="wd-testimon-bio">
                                                                            <div class="wd-testimon-name title">
                                                                                Mark H
                                                                            </div>


                                                                            <div class="star-rating">
                                                                                <span style="width:100%"></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="wd-testimon-text reset-last-child">
                                                                        &#8220;Working with Ron through Radical Responsibility Coaching was truly life changing. For years, I had been stuck in a mindset of blaming others for why I hadn’t pursued my dream of starting my own business. Ron helped me take full accountability for my actions and behaviors, and that shift made all the difference. His coaching pushed me to step out of my comfort zone and finally take control of my future. Thanks to Ron&#8217;s guidance, I no longer make excuses—I own my choices and my success. I’m proud to say that I’ve launched my business, and I owe so much of that to Ron’s incredible coaching.&#8221;
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="wd-nav-arrows wd-pos-sep wd-hover-1 wd-icon-1">
                                                        <div class="wd-btn-arrow wd-prev wd-disabled">
                                                            <div class="wd-arrow-inner"></div>
                                                        </div>
                                                        <div class="wd-btn-arrow wd-next">
                                                            <div class="wd-arrow-inner"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </article><!-- #post -->



            </div><!-- .site-content -->



        </div><!-- .main-page-wrapper -->
    </div> <!-- end row -->
</div>
<!-- end container -->