@{
    ViewBag.Title = "Contact Us - Ron Boggs";
}
<div class="main-page-wrapper">
    <div class="page-title  page-title-default title-size-default title-design-centered color-scheme-light" style="text-align: center; padding: 52px 15px 0px 0px">
        <div class="container">
            <h1 class="entry-title title" style="font-size:68px">
                Contact Us
            </h1>
            <div class="breadcrumbs" style="text-align: center; padding-bottom:45px; margin-bottom:25px;">
                <a href="@Url.Action("Index","Home")" rel="v:url" property="v:title">Home</a> &raquo; <span class="current">Contact Us</span>
            </div>
            <!-- .breadcrumbs -->
        </div>
    </div>
    <!-- MAIN CONTENT AREA -->
    <div class="container">
        <div class="row content-layout-wrapper align-items-start">
            <div class="site-content col-lg-12 col-12 col-md-12" role="main">
                <article id="post-10" class="post-10 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="wpb-content-wrapper">
                            <div class="vc_row wpb_row vc_row-fluid head-n pg pg-contact wd-rs-66ce22cfa8efa">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element text-center">
                                                <div class="wpb_wrapper">
                                                    <h5>Program Offerings</h5>
                                                    <h2>
                                                        Tailored Programs for Personal<br />
                                                        Success
                                                    </h2>
                                                    <p>
                                                        Explore our diverse programs designed to help you achieve personal success<br />
                                                        and transform your life.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid sec-6 wd-rs-66c8fcd5038c7">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="info-box-wrapper">
                                                                <div id="wd-6716972a19a01" class=" wd-rs-6716972a19a01 wd-info-box wd-wpb text-left box-icon-align-top box-style-shadow color-scheme- wd-bg-none with-btn box-btn-static ">
                                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                                        <div class="info-box-icon">
                                                                            <img fetchpriority="high" decoding="async" width="460" height="312" src="../wp-content/uploads/2024/08/info1.png" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2024/08/info1.png 460w, /wp-content/uploads/2024/08/info1-300x203.png 300w" sizes="(max-width: 460px) 100vw, 460px" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-box-content">
                                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Life Coaching</h4>
                                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                                            <p>Life coaching provides personalized guidance to help you overcome challenges, set meaningful goals, and achieve lasting personal and professional success.</p>
                                                                        </div>
                                                                        <div class="info-btn-wrapper">
                                                                            <div id="wd-6784b654d72b0" class="  wd-button-wrapper text-left"><a href="@Url.Action("Life_Coaching","Home")" title="" class="btn btn-color-default btn-style-link btn-style-rectangle btn-size-default">Learn More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="info-box-wrapper">
                                                                <div id="wd-671697366bf30" class=" wd-rs-671697366bf30 wd-info-box wd-wpb text-left box-icon-align-top box-style-shadow color-scheme- wd-bg-none with-btn box-btn-static ">
                                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                                        <div class="info-box-icon">
                                                                            <img decoding="async" width="460" height="312" src="../wp-content/uploads/2024/08/info2.png" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2024/08/info2.png 460w, /wp-content/uploads/2024/08/info2-300x203.png 300w" sizes="(max-width: 460px) 100vw, 460px" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-box-content">
                                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Personal Growth</h4>
                                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                                            <p>Unlock your potential with personalized growth strategies, build confidence, and develop skills to achieve your personal and professional goals.</p>
                                                                        </div>
                                                                        <div class="info-btn-wrapper">
                                                                            <div id="wd-6784b654d78e8" class="  wd-button-wrapper text-left"><a href="@Url.Action("Personal_Growth","Home")" title="" class="btn btn-color-default btn-style-link btn-style-rectangle btn-size-default">Learn More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="info-box-wrapper">
                                                                <div id="wd-67169742ed599" class=" wd-rs-67169742ed599 wd-info-box wd-wpb text-left box-icon-align-top box-style-shadow color-scheme- wd-bg-none with-btn box-btn-static ">
                                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                                        <div class="info-box-icon">
                                                                            <img decoding="async" width="461" height="312" src="../wp-content/uploads/2024/08/info3.png" class="attachment-full size-full" alt="" srcset="/wp-content/uploads/2024/08/info3.png 461w, /wp-content/uploads/2024/08/info3-300x203.png 300w" sizes="(max-width: 461px) 100vw, 461px" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-box-content">
                                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Business Coaching</h4>
                                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                                            <p>Business coaching provides personalized strategies and insights to enhance your leadership, streamline operations, and drive your business toward success.</p>
                                                                        </div>
                                                                        <div class="info-btn-wrapper">
                                                                            <div id="wd-6784b654d7eac" class="  wd-button-wrapper text-left"><a href="@Url.Action("Business_Coaching","Home")" title="" class="btn btn-color-default btn-style-link btn-style-rectangle btn-size-default">Learn More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid sec-appoint wd-rs-66ccbd9731234">
                                <div class="wpb_column vc_column_container vc_col-sm-1">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="info-box-wrapper">
                                                <div id="wd-67605b2e5cc3b" class=" wd-rs-67605b2e5cc3b wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-middle ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="80" height="80" src="../wp-content/uploads/2024/08/appointment-icon.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Open for Appointments</h4>
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <p><button class="wappointment_widget" style="display:none" data-popup="1" data-button-title="Book Now!">Book Now!</button> <a class="btn theme-btn" href="#">All Programs</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-1">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid sec-7 wd-rs-66c8ff2613550">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">
                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="583" height="580" src="../wp-content/uploads/2024/08/sec-5.png" class="vc_single_image-img attachment-full" alt="" title="sec-5" srcset="/wp-content/uploads/2024/08/sec-5.png 583w, /wp-content/uploads/2024/08/sec-5-300x298.png 300w, /wp-content/uploads/2024/08/sec-5-150x150.png 150w" sizes="auto, (max-width: 583px) 100vw, 583px" /></div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <h5>The Process</h5>
                                                    <h2>
                                                        Your Journey to<br />
                                                        Success Unveiled
                                                    </h2>
                                                    <p>Discover our step-by-step process designed to guide you from initial assessment through goal setting, action planning, and ongoing support, ensuring you achieve sustainable success and personal growth.</p>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-66ccc70c394a2" class=" wd-rs-66ccc70c394a2 wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-top ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="56" height="56" src="../wp-content/uploads/2024/08/Frame-6.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Initial Assessment</h4>
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            <p>
                                                                Evaluate your current situation to identify<br />
                                                                strengths, challenges, and goals.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-66ccc71aa031b" class=" wd-rs-66ccc71aa031b wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-top ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="56" height="56" src="../wp-content/uploads/2024/08/Frame-7.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Goal Setting</h4>
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            <p>
                                                                Define clear, actionable goals aligned with your<br />
                                                                personal and professional aspirations.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-66ccc7269a440" class=" wd-rs-66ccc7269a440 wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-top ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="56" height="56" src="../wp-content/uploads/2024/08/Frame-8.png" class="attachment-full size-full" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <h4 class="info-box-title title box-title-style-default wd-fontsize-m">Action Planning</h4>
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            <p>
                                                                Develop a strategic plan with actionable steps<br />
                                                                and ongoing support for success.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid sec-9 vc_custom_1724706964110 vc_row-has-fill wd-rs-66ccf08583255 wd-section-stretch">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <h5>Contact Us</h5>
                                                    <h2>Connect with Us Today</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <p>Contact us for any inquiries or support. We&#8217;re here to assist and provide the information you need.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid sec-10 wd-rs-66c903f22cea3">
                                <div class="wpb_column contact vc_column_container vc_col-sm-6 wd-rs-66ccf1c68f3d3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <h3>Get in touch</h3>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-66ccf2d03250b" class=" wd-rs-66ccf2d03250b wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-middle ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="64" height="64" src="../wp-content/uploads/2024/08/9.png" class="attachment-800x600 size-800x600" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            </p>
                                                            <h6>Email us</h6>
                                                            <p><a href="mailto:info@ronboggs.com">info@ronboggs.com</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-675721831c6df" class=" wd-rs-675721831c6df wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-middle ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="64" height="64" src="../wp-content/uploads/2024/08/Phone-Number.png" class="attachment-800x600 size-800x600" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            </p>
                                                            <h6>Phone number</h6>
                                                            <p><a href="tel:209-678-8101">209-678-8101</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info-box-wrapper">
                                                <div id="wd-67169430521a2" class=" wd-rs-67169430521a2 wd-info-box wd-wpb text-left box-icon-align-left box-style- color-scheme- wd-bg-none wd-items-middle ">
                                                    <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                                        <div class="info-box-icon">
                                                            <img loading="lazy" decoding="async" width="64" height="64" src="../wp-content/uploads/2024/08/location.png" class="attachment-800x600 size-800x600" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="info-box-content">
                                                        <div class="info-box-inner set-cont-mb-s reset-last-child">
                                                            <p>1850 Countryside Drive #1049, Turlock, CA 95380</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element text-con">
                                                <div class="wpb_wrapper">
                                                    <h5>Connect with us:</h5>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element">
                                                <div class="wpb_wrapper">
                                                    <div class=" wd-social-icons  icons-design-default icons-size-default color-scheme-dark social-follow social-form-circle text-center">
                                                        <a rel="noopener noreferrer nofollow" href="https://www.facebook.com/radicalresponsibilitycoach/" target="_blank" class=" wd-social-icon social-facebook" aria-label="Facebook social link">
                                                            <span class="wd-icon"></span>
                                                        </a>
                                                        <a rel="noopener noreferrer nofollow" href="https://www.instagram.com/radicalresponsibility13/" target="_blank" class=" wd-social-icon social-instagram" aria-label="Instagram social link">
                                                            <span class="wd-icon"></span>
                                                        </a>
                                                        <a rel="noopener noreferrer nofollow" href="https://www.youtube.com/&#64;LifeCoachforMen13" target="_blank" class=" wd-social-icon social-youtube" aria-label="YouTube social link">
                                                            <span class="wd-icon"></span>
                                                        </a>
                                                        <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/in/ron-boggs-a89a13270/" target="_blank" class=" wd-social-icon social-linkedin" aria-label="Linkedin social link">
                                                            <span class="wd-icon"></span>
                                                        </a>
                                                        <a rel="noopener noreferrer nofollow" href="https://www.tiktok.com/&#64;radicalresponsibility" target="_blank" class=" wd-social-icon social-tiktok" aria-label="TikTok social link">
                                                            <span class="wd-icon"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpforms-container wpforms-container-full wpforms-render-modern" id="wpforms-112">
                                                <div id="wpforms-form-112" class="wpforms-validate wpforms-form wpforms-ajax-form" data-formid="112" method="post" enctype="multipart/form-data" action="/contact-us/" data-token="d67a568ef1ceb3f127e571349cb63d95" data-token-time="1736750676">
                                                    <noscript class="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</noscript>
                                                    <div class="wpforms-hidden" id="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</div>
                                                    <div class="wpforms-field-container">
                                                        <div id="wpforms-112-field_1-container" class="wpforms-field wpforms-field-layout" data-field-id="1">
                                                            <div class="wpforms-field-layout-rows wpforms-field-large">
                                                                <div class="wpforms-layout-row">
                                                                    <div class="wpforms-layout-column wpforms-layout-column-50">
                                                                        <div id="wpforms-112-field_2-container" class="wpforms-field wpforms-field-name" data-field-id="2">
                                                                            <label class="wpforms-field-label" for="wpforms-112-field_2">Full Name</label>
                                                                            <input type="text" id="wpforms-112-field_2" class="wpforms-field-medium" name="wpforms[fields][2]" placeholder="Full Name" aria-errormessage="wpforms-112-field_2-error">
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpforms-layout-column wpforms-layout-column-50">
                                                                        <div id="wpforms-112-field_3-container" class="wpforms-field wpforms-field-phone" data-field-id="3">
                                                                            <label class="wpforms-field-label" for="wpforms-112-field_3">Phone Number</label>
                                                                            <input type="tel" id="wpforms-112-field_3"  class="wpforms-field-medium wpforms-smart-phone-field" data-rule-smart-phone-field="true" name="wpforms[fields][3]" placeholder="Phone Number" aria-label="Phone Number" aria-errormessage="wpforms-112-field_3-error">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="wpforms-112-field_4-container" class="wpforms-field wpforms-field-email" data-field-id="4">
                                                            <label class="wpforms-field-label" for="wpforms-112-field_4">Email Address <span class="wpforms-required-label" aria-hidden="true">*</span></label>
                                                            <input type="email" id="wpforms-112-field_4" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][4]" placeholder="Email Address" spellcheck="false" aria-errormessage="wpforms-112-field_4-error" required>
                                                        </div>
                                                        <div id="wpforms-112-field_5-container" class="wpforms-field wpforms-field-textarea" data-field-id="5">
                                                            <label class="wpforms-field-label" for="wpforms-112-field_5">Message</label>
                                                            <textarea id="wpforms-112-field_5" class="wpforms-field-medium" name="wpforms[fields][5]" placeholder="Tell us about your..." aria-errormessage="wpforms-112-field_5-error"></textarea>
                                                            @*<script>
                                                                    (function () {
                                                                        const form = document.currentScript?.closest('.wpforms-form');
                                                                        const field = form?.querySelector('#' + atob('d3Bmb3Jtcy0xMTItZmllbGRfNi1jb250YWluZXI='));

                                                                        if (!field) {
                                                                            document.currentScript.remove();
                                                                            return;
                                                                        }

                                                                        field.setAttribute('style', 'position: absolute !important; overflow: hidden !important; display: inline !important; height: 1px !important; width: 1px !important; z-index: -1000 !important; padding: 0 !important;');
                                                                        field.getElementsByTagName('label')?.[0]?.setAttribute('aria-hidden', 'true');

                                                                        const input = field.getElementsByTagName('input')?.[0];

                                                                        if (input) {
                                                                            input.setAttribute('style', 'visibility: hidden;');
                                                                            input.setAttribute('tabindex', '-1');
                                                                            input.setAttribute('aria-hidden', 'true');
                                                                        }

                                                                        document.currentScript?.remove();
                                                                    })();
                                                                </script>*@
                                                        </div>
                                                    </div>
                                                    <!-- .wpforms-field-container -->
                                                    <div class="wpforms-submit-container">
                                                        @*<input type="hidden" name="wpforms[id]" value="112">
                                                        <input type="hidden" name="page_title" value="Contact Us">
                                                        <input type="hidden" name="page_url" value="/contact-us/">
                                                        <input type="hidden" name="page_id" value="10">
                                                        <input type="hidden" name="wpforms[post_id]" value="10">*@
                                                        @*<button type="submit" name="wpforms[submit]" id="wpforms-submit-112" class="wpforms-submit btn theme-bl" data-alt-text="Sending..." data-submit-text="Submit" aria-live="assertive" value="wpforms-submit">
                                                                Submit
                                                            </button>*@
                                                        <button id="btnSub" onclick="sendEmail()" style="background-color:black; color:white; padding:10px; border-radius:5px">
                                                            Submit
                                                        </button>
                                                        <div id="idresponse">

                                                        </div>
                                                        <img loading="lazy" decoding="async" src="../wp-content/plugins/wpforms/assets/images/submit-spin.svg" class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="Loading">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .wpforms-container -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- #post -->
            </div>
            <!-- .site-content -->
        </div>
        <!-- .main-page-wrapper -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->